@font-face {
  font-family: pjr;
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: pjb;
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf");
}
@font-face {
  font-family: pjl;
  src: url("./assets/fonts/PlusJakartaSans-Light.ttf");
}
@font-face {
  font-family: pjs;
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.ttf");
}

* {
  font-family: pjr;
  color: var(--black);
}

:root {
  --black: #000;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}